<div id="roomPage">
    <h1> Welcome to Chat Room {{ name }}! </h1>

    {{!-- This div contains all messages for the current chatroom --}}
    <div class="messages"> 
        {{!-- Using handlebars syntax to display all messages --}}
        {{#each messages}}
            <div class="messageContainer">
                <div class="username">{{this.username.first}}</div>
                <div class="messageDate">&nbsp;{{date}}</div>
                <img class="trash" src="/images/trash.jpg" name="{{{date}}}" alt="{{{userID}}}">
            </div>
            <div class="message"> 
                &ensp;
                {{message}} 
            </div>
        {{/each}}
    </div>

    {{!-- This div contains an input box and a send button --}}
    <div class="inputBox">
        <input id="userInput" name="message" placeholder="Type something...">
        <button id="send" type="submit" >Send</button>
    </div>
</div>



{{!-- Socket.io --}}
<script src="https://cdn.socket.io/3.0.0/socket.io.js"></script>
<script>
    document.querySelector('#userInput').addEventListener("input", grabMessage) //Grab the input box
    document.querySelector('#send').addEventListener("click", sendMessage)      //Grab the send button
    document.querySelectorAll(".trash").forEach( item => item.addEventListener("click", confirmTrash))

    //Grabbing the info from the cookies
    var roomName = ""
    var sessionUserID = ""
    document.cookie.split(';').forEach( item => {
        var value = item.search("roomName")
        if( value !== -1 ){
            roomName = item.substring( item.search("=")+1 )
        }else{
            value = item.search("sessionUserId")
            if( value !== -1 ){
                sessionUserID = item.substring( item.search("=")+1 )
            }
        }
    })
    

    //This is where input box's value will be stored in
    var newMessage = ""

    //Callback function for input box
    function grabMessage( text ){
        newMessage = text.target.value
        console.log(newMessage)
    }

    //Callback function for send button
    function sendMessage( item ) {
        //Each time the user press send, socket will emit an event and pass
        //user's message, along with info that is inside the cookies
        console.log(`msg: ${newMessage}, roomName: ${roomName}`)
        socket.emit('newMessage', {
            message:  newMessage,
            roomName: roomName,
            sessionUserID: sessionUserID
        })
    }

    //Callback function for deleteing message
    function confirmTrash( event ){
        var confirmDelete = confirm("Are you sure you want to delete this message?")
        if( confirmDelete ){
            var date = event.target.name
            var userID = event.target.alt

            socket.emit('deleteMessage', {
                userID: userID,
                date: date,
                sessionUserID: sessionUserID
            })
        }
    }

    //Socket listening
    //Each time socket detects "newMessage" event from the server, it will refresh the page.
    const socket = io('http://localhost:8080')
    socket.on('newMessage', data => {
        console.log(`New message received for chatroom ${roomName}. Refreshing page...`)
        //location.reload()
    })

    socket.on('deleteRejected', _ => {
        alert("You cannnot delete other's messages.")
        //location.reload()
    })
    //This line automatically scrolls to the bottom of the message box each time this page is loaded.
    document.querySelector('.messages').scrollTop = document.querySelector('.messages').scrollHeight
</script>